body{
    display: flex;
}
ul{
    list-style-type: none;
}
section{
    margin: 3rem 5rem;
}

.title{
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.info{
    display: flex;
    justify-content: space-between;
}

.hue{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 1;
}
.cards{
    position: relative;
    display: flex;
    height: 5rem;
    align-items: center;
    width: fit-content;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-image: url('/assets/img/minicardbackground.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 1rem;
    cursor: pointer;
}
.cards p{
    margin-left: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    z-index: 2;
}

.cards img{
    z-index: 2;
}

/* Cards */
.accounting{
    background-color: rgba(0, 10, 255, 0.4);
}

.chineseliterature{
    background-color: rgba(255, 0, 0, 0.6); 
}

.computerscience{
    background-color: rgba(3, 101, 194, 0.5);
}

.entrepreneurship{
    background-color: rgba(202, 198, 64, 0.7);
}

.foodtechnology{
    background-color: rgba(15, 141, 8, 0.5);
}

.informationsystems{
    background-color: rgba(155, 12, 191, 0.5);
}

.industrialengineering{
    background-color: rgba(14, 162, 215, 0.6);
}

.ibm{
    background-color: rgba(61, 204, 120, 0.5);
}

.management{
    background-color: rgba(158, 68, 23, 0.65);
}

.psychology{
    background-color: rgba(215, 39, 174, 0.65);
}

.ism{
    background-color: rgba(133, 23, 23, 0.65);
}

.isa{
    background-color: rgba(153, 221, 44, 0.65);
}

/* Info */
.info > div{
    width: 18rem;
}

li{
    margin-left: 2rem;
}


/* Become a Mentee */
.registrationButton{
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--bslc-tosca);
    border-radius: 5px;
    color: white;
}

.menteeregistration{
    display: inline-block;
    margin-top: 1rem;
}


/* Contacts */
.contacts div{
    display: flex;
    margin-bottom: 1rem;
    text-decoration: none;
}
.contacts div p{
    margin-left: 1rem;
    color: black;
}